<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<dict>
		<key>amg</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://allmusic.com/cg/amg.dll?P=amg&amp;sql={query}&amp;opt1=1</string>
		</dict>
		<key>d</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://folkets-lexikon.csc.kth.se/folkets.en.html#{query}</string>
		</dict>
		<key>default</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://www.google.com/search?q={input}</string>
		</dict>
		<key>dis</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://www.discogs.com/search?type=all&amp;q={query}</string>
		</dict>
		<key>ds</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>javascript:void(document.location.href='http://delicious.com/arrelid/'+'{query}'.replace(/%20/g,'+'));</string>
		</dict>
		<key>f</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://flickr.com/photos/tags/{query}</string>
		</dict>
		<key>fb</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://facebook.com/</string>
		</dict>
		<key>g</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://www.google.com/search?q={query}</string>
		</dict>
		<key>gi</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://images.google.com/images?q={query}&amp;ie=UTF-8&amp;oe=UTF-8</string>
		</dict>
		<key>gm</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://maps.google.com/maps?oi=map&amp;q={query}</string>
		</dict>
		<key>gr</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://reader.google.com/</string>
		</dict>
		<key>im</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>1</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://imdb.com/find?s=all&amp;q={query}</string>
		</dict>
		<key>lf</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>https://secure246.lansforsakringar.se/</string>
		</dict>
		<key>mm</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>https://mail.google.com/a/arrelid.com/</string>
		</dict>
		<key>pb</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://thepiratebay.org/search/{query}/</string>
		</dict>
		<key>pd</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://docs.python.org/search.html?q={query}</string>
		</dict>
		<key>sm</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>https://mail.google.com/a/spotify.com/</string>
		</dict>
		<key>sub</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://subscene.com/filmsearch.aspx?=film&amp;q={query}</string>
		</dict>
		<key>sw</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>https://wiki.spotify.net/wiki/Special:Search?search={query}&amp;amp;go=Go</string>
		</dict>
		<key>uc</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://www.fileformat.info/info/unicode/char/{query}/index.htm</string>
		</dict>
		<key>ud</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://urbandictionary.com/define.php?term={query}</string>
		</dict>
		<key>w</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>1</integer>
			<key>expansion</key>
			<string>http://en.wikipedia.org/wiki/Special:Search?search={query}&amp;go=Go</string>
		</dict>
		<key>xm</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>x-man-page://{query}</string>
		</dict>
		<key>yt</key>
		<dict>
			<key>dontUseUnicode</key>
			<integer>0</integer>
			<key>encodeSpaces</key>
			<integer>0</integer>
			<key>expansion</key>
			<string>http://youtube.com/results?search_query={query}</string>
		</dict>
	</dict>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
